@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-tech-black text-white font-sans antialiased;
    background-image: linear-gradient(rgba(26, 26, 26, 0.5) 1px, transparent 1px),
      linear-gradient(90deg, rgba(26, 26, 26, 0.5) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  code, pre {
    @apply font-mono;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.2);
  }
}
